{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
  <div class="accordion-container">
  <h2>jQuery Accordion</h2>
  <div class="set">
    <a href="#" id="about">
      About 
      <i class="fa fa-chevron-up"></i>
    </a>
    <div class="content">
      <p>My name is Inez Zahra Nabila, an undergraduate student that currently pursuing Computer Science at Faculty of Computer Science University of Indonesia .</p>
    </div>
  </div>
  <div class="set">
    <a href="#" id="activity">
      Current Activities 
      <i class="fa fa-chevron-up"></i>
    </a>
    <div class="content">
      <p>Pursuing Computer Science.</p>
    </div>
    <div class="content">
      <p>HEAD OF PUBLIC RELATION.</p>
      <p>Dewan Perwakilan Mahasiswa Fakultas Ilmu
Komputer Universitas Indonesia | 2019-present.</p>
    </div>
  </div>
  <div class="set">
    <a href="#" id="experience">
      Organizational/Committee Experiences 
      <i class="fa fa-chevron-up"></i>
    </a>
    <div class="content">
      <p>PROJECT OFFICER / CHIEF OFFICER.</p>
      <p>Wisuda Fakultas Ilmu Komputer Semester Genap |
2019.</p>
    </div>
    
  </div>
  <div class="set">
    <a href="#" id="achievement">
      Achievements 
      <i class="fa fa-chevron-up"></i>
    </a>
    <div class="content">
      <p>ENGLISH PROFICIENCY TEST, College Board Scholastic Assessment Test (SAT) </p>
      <p>Gaining Score 1340 of 1600 </p>
    </div>
  </div>
</div>
    
    
   <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>