<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h2 class="text-center">Apakah sudah benar?</h2>
    <div class="row" style="margin-top:5rem;">
        <div class="col-md-4"></div>
        {% for i in form %}

        <div class="col-md-2">
            <p>{{i.name}}: {{i.value}}</p>
        </div>
        {% endfor %}
        <form action="{% url 'status:submit' %}" method="POST">
        {% csrf_token %}
        {% for i in form %}
            <input type="hidden" name="{{i.name}}" value="{{i.value}}">
        {% endfor %}
        <button type="submit" class="btn btn-primary" id="ya">Ya</button>
        </form>
        <a href="" class="btn btn-primary">Tidak</a>
        <div class="col-md-4"></div>
        
    </div>
    
    
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>